.main-area {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
.main-title {
  font-size: xx-large;
  margin-bottom: 20px;
}